* {
    margin: 0;
    padding: 0;
}

:root {
    ---background-image: url(../../images/Astelian.png) no-repeat;
}

.eldritch-theme {
    ---dark: #000011;
    ---shade: #202030;
    ---shade-light: #303040;
    ---medium: #505070;
    ---medium-light: #707070;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.imperial-theme {
    ---dark: #221000;
    ---shade: #403000;
    ---shade-light: #504000;
    ---medium: #885010;
    ---medium-light: #996010;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.khazdan-theme {
    ---dark: #000000;
    ---shade: #303030;
    ---shade-light: #404040;
    ---medium: #505050;
    ---medium-light: #707070;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.sanguine-theme {
    ---dark: #200000;
    ---shade: #401010;
    ---shade-light: #501515;
    ---medium: #602525;
    ---medium-light: #703030;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.sylvar-theme {
    ---dark: #001500;
    ---shade: #203320;
    ---shade-light: #204420;
    ---medium: #355035;
    ---medium-light: #406640;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.styria-theme {
    ---dark: #200020;
    ---shade: #351535;
    ---shade-light: #452545;
    ---medium: #553355;
    ---medium-light: #707070;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.egnesian-theme {
    ---dark: #001515;
    ---shade: #004040;
    ---shade-light: #006060;
    ---medium: #008080;
    ---medium-light: #707070;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}

.astelian-theme {
    ---dark: #100020;
    ---shade: #250050;
    ---shade-light: #350070;
    ---medium: #400080;
    ---medium-light: #707070;
    ---text: #c0c0c0;
    ---text-light: #e0e0e0;
    ---text-primary: #e0e0e0;
}
